<body class="body bg-white dark:bg-[#0F172A] min-h-[100dvh] relative">
  <!-- NAV -->
  <%- include('../../partials/nav',{ currentRoute }) %>

  <!-- MAIN CONTENT -->
  <main class="w-full relative">
    <div class="flex flex-wrap">
      <div
        class="w-full pl-[4.3rem] flex-wrap pr-5 max-md:pl-[3.5rem] max-md:pr-[0.55rem] gap-6 pb-12"
      >
        <div class="relative overflow-hidden">
          <div class="my-4">
            <span class="text-white text-md md:text-xl font-extrabold"
              >Jadwal Sholat Kota Batang Bulan <%= (() => {
                const zone = new Date(new Date().toLocaleString('en-US', { timeZone: 'Asia/Jakarta' }));
                const month = zone.getMonth();
                const Bulan = ["Januari","Februari","Maret","April","Mei","Juni","Juli","Agustus","September","Oktober","November","Desember"];
                return Bulan[month];
              })() %> </span
            >
          </div>
          <div class="overflow-x-auto">
            <table
            class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400"
          >
            <thead
              class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
            >
              <tr>
                <th scope="col" class="px-6 py-3 w-36">Tanggal</th>
                <th scope="col" class="px-6 py-3">Hari</th>
                <th scope="col" class="px-6 py-3">Masehi</th>
                <th scope="col" class="px-6 py-3">Imsak</th>
                <th scope="col" class="px-6 py-3">Subuh</th>
                <th scope="col" class="px-6 py-3">Terbit</th>
                <th scope="col" class="px-6 py-3">Duha</th>
                <th scope="col" class="px-6 py-3">Zuhur</th>
                <th scope="col" class="px-6 py-3">Asar</th>
                <th scope="col" class="px-6 py-3">Maghrib</th>
                <th scope="col" class="px-6 py-3">Isya</th>
              </tr>
            </thead>
            <tbody>
              <% data.jadwal.forEach(item => { %>
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200"
              >
                <td class="px-6 py-4 flex items-center">
                  <%= (() => { 
                  const day = item.tanggal.split(',');
                  const dateNum = day[1].split('/')[0];
                  return `${dateNum}`; })() %>
                </td>
                <td class="px-6 py-4">
                  <%= (() => { 
                    const day = item.tanggal.split(',');
                    return `${day[0]}`; })() 
                    %>
                </td>
                <td class="px-6 py-4">
                  <%= (() => { 
                    const day = item.tanggal.split(',');
                    const dateNum = day[1].split('/')[0];
                    return `${day[0]} ${dateNum.trim()}`; })() %>
                </td>
                <td class="px-6 py-4"><%= item.imsak %></td>
                <td class="px-6 py-4"><%= item.subuh %></td>
                <td class="px-6 py-4"><%= item.terbit %></td>
                <td class="px-6 py-4"><%= item.dhuha %></td>
                <td class="px-6 py-4"><%= item.dzuhur %></td>
                <td class="px-6 py-4"><%= item.ashar %></td>
                <td class="px-6 py-4"><%= item.maghrib %></td>
                <td class="px-6 py-4"><%= item.isya %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
