<body class="body bg-white dark:bg-[#0F172A] min-h-[100dvh] relative">
  <!-- NAV -->
  <%- include('../../partials/nav',{ currentRoute }) %>

  <!-- MAIN CONTENT -->
  <main class="w-full relative">
    <div class="flex flex-wrap">
      <div
        class="w-full pl-[4.3rem] flex-wrap pr-5 max-md:pl-[3.5rem] max-md:pr-[0.55rem] gap-6 pb-12"
      >
        <div class="relative overflow-hidden">
          <div class="flex flex-wrap w-full">
            <% data.forEach( item => { %>
            <a href="/quran/surat/<%= item.nomor %>" class="w-full bg-white dark:bg-[#0F172A] text-gray-400 p-3 flex items-center hover:bg-slate-700 cursor-pointer transition-all duration-500 justify-between border-b border-b-slate-700 py-4">
              <div class="flex flex-col">
                <h1 class="font-bold"><%= item.nama_latin %></h1>
                <div class="inline-flex gap-2 text-sm">
                  <span><%= item.tempat_turun %></span>
                  <span>|</span>
                  <span><%= item.jumlah_ayat %> Ayat</span>
                </div>
              </div>
              <div>
                <span><%= item.nama %></span>
              </div>
            </a>
            <% }); %>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>


